<%-include("./partials/header") %>

<div class="form w-full h-screen bg-pink-300 p-1">
<%-include("./partials/nav") %>

  <h1 class="text-3xl text-blue-500 text-center capitalize font-bold">reset password</h1>

  <div class="formdiv w-1/2 bg-green-100  p-10 rounded-lg ml-80">
    <form action="/resetpassword/<%=user._id%>" method="post">
      <input type="password" name="oldpassword" id="" placeholder="enter your password" class="w-full text-3xl rounded-lg p-2 border-2 border-black mb-5">
      <input type="password" name="newpassword" id="" placeholder="enter your newpassword" class="w-full text-3xl rounded-lg p-2 border-2 border-black mb-5">
      <input type="submit" name="" id="" class="w-1/4 text-3xl rounded-lg p-2 border-2 border-black mb-5 ml-60">
    </form>
  </div>

</div>


<%-include("./partials/footer") %>